.movie-container {
  height: 320px;
  width: 300px;
  background-color: var(--umber);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-banner {
  width: 100%;
  border-radius: 10px;
  margin: 10px auto;
}

.movie-title {
  font-size: 23px;
  width: 280px;
  color: var(--magnolia);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.original-title {
  font-size: 19px;
  color: var(--lavender-blue);
}

.movie-year {
  color: var(--magnolia);
  background-color: var(--lavender-blue);
  padding: 5px;
  border-radius: 10px;
  width: 50px;
  text-align: center;
  margin: 5px;
}

.icons-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.icons-container svg {
  height: 20px;
  width: 20px;
  fill: var(--pistachio);
}

.heart-icon svg {
  fill: var(--imperial-red);
}

@media (min-width: 768px) {
  .movie-container {
    margin: 10px;
  }
}

@media (min-width: 1400px) {
  .movie-container {
    margin: 15px;
  }
}
